/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.app-blue {
  background-color: rgba(77,182,172,1);
}
.app-yellow {
  background-color: #ffdf00;
}

body {
  /*font-family: 'Shabnam';*/
}

.background3 {
  background: 
linear-gradient(135deg, #4db6ac 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #4db6ac 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #4db6ac 25%, transparent 25%),
linear-gradient(45deg, #4db6ac 25%, transparent 25%); 
background-size: 100px 100px;
background-color: #EC173A;
height: 900px;
}