<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Muhammad Vakili</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</head>

<body class=>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="columns ">
                    <div class="column is-3"></div>
                    <div class="column is-half">
                        <div class="container">
                            <h1 class="title" v-html="title">
                            </h1>
                            <p class="subtitle">
                                {{ author }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="section">
            <div class="container has-text-centered">
                <div class="columns ">
                    <div class="column is-half is-3-desktop main-card">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image ">
                                    <img src="https://avatars3.githubusercontent.com/u/10646372?s=460&v=4" alt="Muhammad Vakili" width="250" style="border-radius:50%">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="content">
                                        <p>Programmer @
                                            <a href="http://parlar.ir/">
                                                <i class="fa fa-industry" aria-hidden="true"></i> Parlar
                                            </a> since May 2016
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="is-medium" style="margin-left: 30%; margin-right:30%">
            <div class="columns has-text-centered">
                <div class="column is-ofsfset-1">
                    <a href="http://twitter.com/muhammad_vakili">
                        <span class="icon has-text-info is-large">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </div>
                <div class="column">

                    <a href="http://t.me/muhammad_vakili">
                        <span class="icon has-text-info is-large">
                            <i class="fab fa-telegram"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/vakili_mmd95/">
                        <span class="icon has-text-danger is-large">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <a href="https://github.com/mvakili">
                        <span class="icon is-large">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                </div>
            </div>
        </section>
        <section class="is-medium">
            <div class="container">
                <h1>
                    Skills
                </h1>
                <div class="columns is-multiline ">
                    <template v-for="item in mainSkills">
                        <div class="column is-half">
                            <div class="card ">
                                <header class="card-header">
                                    <p class="card-header-title ">
                                        {{item.title}}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content" v-html="item.describe">
                                    </div>
                                    <footer class="card-footer">
                                        <progress class="progress" v-bind:class="item.color" v-bind:value="item.knowing" max="100">60%</progress>
                                    </footer>
                                </div>
                            </div>
                    </template>
                    </div>
                </div>
        </section>
        <section>
            <div class="container">
                <div class="content">

                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <h1>
                    Other Skills
                </h1>
                <div class="content has-text-centered">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control" v-for="item in otherSkills">
                            <div class="tags has-addons">
                                <span class="tag is-dark">{{item.title}}</span>
                                <span class="tag" :class="item.color">{{item.describe}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '<i class="far fa-heart has-text-danger"></i>  to write clean <i class="fas fa-code has-text-warning"></i>',
            author: 'Muhammad Vakili',
            mainSkills: [
                { title: 'Vue Js', describe: 'I\'ve started to learn vue js after faced with lots of complexities of <strong>Angular 2</strong>+.<br>Vue js is an amazing framework, simple, and easy to learn.<br>I am beginner, but I love to have some experiences with <strong>Vue JS </strong>  <i class="fa fa-heart has-text-danger" aria-hidden="true"></i>', knowing: 60, color: "is-success" },
                { title: 'dotnet core', describe: 'I\'m familiar with <strong>dotnet framework</strong> from spring of 2014, it seems so useful and easy to understand. I have wrote most of my university exams like <a href="https://github.com/mvakili/EKA">EKA Warehouse Managing System</a> and projects using <strong> C# </strong>.<br>I\'ve started to learn <strong>dotnet core web api</strong> and <strong>Rest api</strong> from beginnig of 2017. I\'m so comfortable working with that', knowing: 50, color: "is-danger" },
                { title: 'Relational database design', describe: 'I\'ve started database with <strong>MySql</strong> in my earlier projects.<br>I remember those days that I had no idea about relations, joins, triggers, any nested queries, indexes and ...<br>I have learned how database works, how to draw ER diagrams, how to understand execution plans, how to write correct queries in our <strong>Database </strong> course with <strong>Dr. Mohammadreza Feizi Derakhshi</strong>. I have experienced working with a big databases with dozens of gigabytes of important and sensitive data and challenges come from it\'s usage.', knowing: 80, color: "" },
                { title: 'Bulma', describe: 'I\'m using <a href="https://bulma.io"><strong> Bulma </strong></a> in <a href="https://github.com/mvakili/hesabdar">Hesabdar Project</a>.<br> It is so lightweight and simple, based on <strong>Flexbox</strong>', knowing: 30, color: "is-warning" },
            ],
            otherSkills: [
                { title: 'Angular 2+', describe: '40%', color: 'is-danger' },
                { title: 'Software System Analyze', describe: '70%', color: 'is-link' },
                { title: 'Entity Framework', describe: '80%', color: 'is-success' },
                { title: 'Javascript ES5/ES6', describe: '70%', color: 'is-warning' },
                { title: 'C# Windows form', describe: '80%', color: 'is-info' },
                { title: 'Verilog HDL Design', describe: '70%', color: 'is-primary' },
                { title: 'Teaching', describe: '60%', color: 'is-warning' },
                { title: 'Teamwork', describe: '60%', color: 'is-danger' },
                { title: 'PHP Pure', describe: '70%', color: 'is-info' },
                { title: 'C / C++', describe: '70%', color: 'is-link' }
            ]
        }
    })
</script>

</html>